<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="https://exodusmenu.com" class="btn" target="_blank" rel="noopener noreferrer">网站</a>
        <a href="https://exodusmenu.com/store" class="btn" target="_blank" rel="noopener noreferrer">商店</a>
        <a href="https://discord.gg/YVWGTt87E8" class="btn" target="_blank" rel="noopener noreferrer">不和谐</a>
        <a href="https://www.youtube.com/@exoduscheats" class="btn" target="_blank" rel="noopener noreferrer">油管</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">原始文档是由Exodus的不和谐员工Ruddle Bear制作。 文档翻译由Exodus的中国员工Shark鲨鱼制作。 <a href="#content">回到顶部?</a></span>
      </footer>
    </main>
  </body>
</html>
